.page {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  .projectCard {
    //background: white;
    width: 100%;
    min-height: 180px;
    //border: 1px solid white;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;


    .projectTitle {
      position: absolute;
      font-family: var(--font-secondary);
      font-weight: 600;
      top: 0;
      right: 100%;
      margin-right: 10px;
      width: max-content;
    }

    .projectDescription {
      height: fit-content;
      border-radius: 8px;
      padding: 20px;
      display: flex;
      align-items: flex-end;
      background: var(--background-alt);
      opacity: 0;
      transition: 0.3s opacity;
      width: 100%;
    }

    &:hover {
      .projectDescription {
        opacity: 1;
      }
    }
  }
}