---
import BaseLayout from '../layouts/base-layout.astro';
import { lastFmApi } from '../lastfm';
import type { Album } from '../lastfm/types/album';

export const prerender = false;

const getAlbums = async () => {
  const data = await lastFmApi.request<{ topalbums: { album: Album[] } }>(
    'user.gettopalbums',
    {
      limit: 1000,
      period: 'overall',
    },
  );

  return data.topalbums.album;
};

const getNowPlaying = async () => {
  const data = await lastFmApi.request<any>('user.getrecenttracks', {
    limit: 1000,
    period: 'overall',
  });

  return data.recenttracks.track.find((o) => o['@attr'].nowplaying === 'true');
};

const albums = await getAlbums();
const nowPlaying = await getNowPlaying();
---

<BaseLayout title="Music">
  page is under construction, for now)
  <!--<div class="albums">-->
  <!--  {-->
  <!--    albums.map((album) => (-->
  <!--      <img src={album.image[album.image.length - 2]['#text']} />-->
  <!--    ))-->
  <!--  }-->
  <!--</div>-->
</BaseLayout>

<style>
  .albums {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: start;
  }
</style>
