.navBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
  z-index: 1;
  background-color: var(--background-primary);
  //border: 1px solid white;

  @media screen and (max-width: 540px) {
    flex-direction: column;
    row-gap: 10px;
  }

  .title {
    font-size: 30px;
    line-height: 100%;
    cursor: pointer;
    font-family: var(--font-secondary);

    span {
      filter: blur(2px);
    }
  }

  .navBar {
    display: flex;
    align-items: center;
    column-gap: 20px;

    a {
      font-family: var(--font-secondary);
      font-size: 16px;
    }
  }
}