---
import '../styles/global.css';
import Nav from '../components/nav.astro';
import { ClientRouter } from 'astro:transitions';

interface Props {
  title?: string;
  nav?: boolean;
}

const { title, nav = true } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const pageTitle = title ? `Terminaate | ${title}` : 'Terminaate';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="color-scheme" content="dark" />
    <meta name="darkreader-lock" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="d35a301a-4cfd-43e7-adca-bb450237c5ca"></script>
    <link rel="canonical" href={canonicalURL} />
    <meta name="title" content={pageTitle} />
    <meta name="author" content="terminaate" />
    <meta
      name="keywords"
      content="terminaate, javascript, typescript, react, web, webdev, web development, js, ts, blog, software engineer, frontend, backend, devops, docker"
    />
    <title>{pageTitle}</title>
    <ClientRouter />
  </head>
  <body>
    <div class="root">
      {nav && <Nav transition:persist />}
      <main transition:name="page" transition:animate="fade">
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  .root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 20px;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }
  }

  main {
    width: 50%;
    padding-inline: 15px;

    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }
</style>
